.main-container-article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  width: 80%;
  margin: auto;
}

.main-container-loader {
  padding: 10px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}